@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&family=Lato:wght@300;400;700&family=Spinnaker&display=swap");
:root {
  --bg-color: #33b395;
  --bg-color-hover: #145a48;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn-primary {
  padding: 12px 24px;
  font-weight: 600;
  background-color: var(--bg-color);
}

.btn-primary:hover {
  background-color: var(--bg-color-hover);
}

.btn-secondary {
  padding: 12px 24px;
  border: 1px solid var(--bg-color);
  font-weight: 600;
  color: var(--bg-color);
  line-height: 26px;
}

.header-logo .header-logo__img {
  width: 40px;
  height: 40px;
}

.nav-main {
  margin-left: auto;
}
.nav-main .nav-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  margin-right: 72px;
}
.nav-main .nav-main__link:hover {
  color: var(--bg-color-hover);
}

.header-section {
  padding: 40px 0 107px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.banner-section {
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
}

.banner {
  max-width: 600px;
  padding: 40px;
}
.banner .banner__header {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.6px;
}
.banner .banner__text {
  margin: 32px 0 48px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}
.banner .banner__links-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  margin-bottom: 40px;
}
.banner .banner-features__text {
  font-weight: 600;
  line-height: 24px;
}
.banner .banner-features__text:first-child {
  margin-right: 40px;
}
.banner .banner-features__text .banner-features__text-strong {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-right: 16px;
  vertical-align: sub;
}

.banner-img {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
}
.banner-img::before {
  position: absolute;
  content: "";
  z-index: 2;
  width: 96%;
  height: 100%;
  top: 0;
  right: 0;
  background: url("../assets/images/chevrolet mint.png") no-repeat;
}
.banner-img::after {
  position: absolute;
  content: "";
  z-index: 1;
  width: 80%;
  height: 80%;
  top: 0;
  right: 0;
  background-color: rgba(52, 52, 52, 0.3);
}

.title-section {
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.6px;
  margin-bottom: 40px;
}

.rent-section {
  padding: 60px 0 120px;
  overflow: hidden;
}

.rent-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  font-weight: 600;
  overflow: hidden;
}
.rent-wrap .rent {
  position: relative;
  -webkit-transition: 2s ease 0s;
  transition: 2s ease 0s;
  height: 524px;
  background: url("../assets/images/BMW M4 Car Review.jpeg") 50%/cover no-repeat;
}
.rent-wrap .rent:nth-child(2) {
  background-image: url("../assets/images/chevrolet.jpeg");
}
.rent-wrap .rent:nth-child(3) {
  background-image: url("../assets/images/audi autumn.jpg");
}
.rent-wrap .rent:nth-child(4) {
  background-image: url("../assets/images/luxuryculture.jpeg");
}
.rent-wrap .rent .rent__name {
  position: absolute;
  top: 48px;
  left: 48px;
  font-size: 40px;
  letter-spacing: 0.6px;
}
.rent-wrap .rent .rent__link {
  position: absolute;
  bottom: 48px;
  right: 60px;
  padding: 30px;
  font-size: 24px;
  letter-spacing: 0.6px;
}
.rent-wrap .rent .rent__link:hover {
  color: var(--bg-color);
}
.rent-wrap .rent .rent__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../assets/icons/mintarrow.png") 50%/cover no-repeat;
}

.services-section {
  padding-bottom: 120px;
}

.services-section__title {
  margin-bottom: 66px;
  text-align: left;
}

.services-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  -webkit-transition: 2s ease 0s;
  transition: 2s ease 0s;
}
.services-wrap .services__img {
  margin-bottom: 24px;
}
.services-wrap .services__title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}
.services-wrap .services__text {
  color: rgba(255, 255, 255, 0.8);
}

.destination-section {
  padding-bottom: 162px;
}

.destination-section__title {
  width: 590px;
  margin: 0 auto 40px;
}

.destination-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.destination-wrap .destination {
  border: 1px solid #171717;
  background-color: #131313;
}
.destination-wrap .destination .destination-info {
  padding: 24px;
}
.destination-wrap .destination .destination-info .destination__title {
  font-size: 24px;
  line-height: 32px;
}
.destination-wrap .destination .destination-info .destination__text {
  margin: 10px 0 25px;
  color: rgba(255, 255, 255, 0.8);
}
.destination-wrap .destination .destination-info .destination__price {
  position: relative;
  padding-left: 42px;
  font-weight: 600;
  margin-bottom: 17px;
}
.destination-wrap .destination .destination-info .destination__price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../assets/icons/Front Car.svg");
}
.destination-wrap .destination .destination-info .destination__link {
  color: var(--bg-color);
}
.destination-wrap .destination .destination-info .destination__link:hover {
  color: var(--bg-color-hover);
}

.location-section {
  padding-bottom: 102px;
}

.footer-section {
  padding-top: 40px;
  background-color: var(--bg-color-hover);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 65px;
}

.footer-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  margin-bottom: 64px;
  font-weight: 600;
}
.footer-logo-wrap .footer-about__img {
  width: 48px;
  height: 48px;
}

.footer-about__text {
  max-width: 235px;
  font-size: 18px;
  line-height: 32px;
}

.footer-nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 45px;
  margin: 40px 100px 0 auto;
}
.footer-nav-wrap .footer-nav__header {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 20px;
}
.footer-nav-wrap .footer-nav__item {
  margin-bottom: 28px;
  line-height: 20px;
}
.footer-nav-wrap .footer-nav__link {
  color: rgba(255, 255, 255, 0.8);
}
.footer-nav-wrap .footer-nav__link:hover {
  color: var(--bg-color);
}

.footer-social {
  margin-top: 32px;
}
.footer-social .footer-social__link {
  display: block;
  width: 120px;
  height: 30px;
  margin-bottom: 45px;
  background: url("/assets/icons/social_1.svg") 50%/cover no-repeat;
}
.footer-social .footer-social__link:nth-child(2) {
  background: url("/assets/icons/social_2.svg") 50%/cover no-repeat;
}
.footer-social .footer-social__link:nth-child(3) {
  background: url("/assets/icons/social_3.svg") 50%/cover no-repeat;
}

.footer-copywrite {
  background-color: var(--bg-color);
  padding: 20px 0 20px 0;
}
.footer-copywrite .footer-copywrite__text {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
}